p{color:purple}
p{margin:50px; width: 400px}
p{background: rgb(234, 132, 207); margin:20px;padding: 30px}

.highlight_01 {background: #aef39a;}
.highlight_02 {background: #ffa6d8;}
.highlight_03 {background: rgb(147, 147, 236)}

#catz {width: 50%; max-width: 400px:}
P {font-weight: bold;}
P strong {font-weight: normal;}
#cooltiger{width:400px}
